<manifest xmlns:android="http://schemas.android.com/apk/res/android"


    package="com.theironfoundry8890.stjohns">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="St Johns"
        android:theme="@style/AppTheme"

        >
        <activity
            android:name=".playground_notifications"
            android:label="St Johns" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Select" />
        <activity android:name=".jfw"/>
        <activity android:name=".intro"/>
        <activity android:name=".details"/>
        <activity android:name=".signin"/>
        <activity android:name=".Newsfeed"/>
        <activity android:name=".feedbackWriter"/>
        <activity android:name=".BarScan"/>
        <activity android:name=".t_Teacher_Profile"/>
        <activity android:name=".EventViewer"/>
        <activity android:name=".EventWriter"/>
        <activity android:name=".DetailedEvent"/>
        <activity android:name=".t_SignUp"/>
        <activity android:name=".t_Signin"/>
        <activity android:name=".t_notes_writer"/>
        <activity android:name=".t_notes_Viewer"/>
        <activity android:name=".t_Detailed_Notes"/>
        <activity android:name=".dStudentProfile"/>
        <activity android:name=".t_EditProfileActivity"/>
        <activity android:name=".t_current_password_check"/>
        <activity android:name=".t_ChangePassword"/>
        <activity android:name=".t_EventWriter"/>
        <activity android:name=".t_Announcement_Writer"/>
        <activity android:name=".t_Announcement_Viewer"/>
        <activity android:name=".t_Attendance"/>
        <activity android:name=".activity_checktick"/>
        <activity android:name=".otpConfirm"/>
        <activity android:name=".attendace_retrieve_auto"/>
        <activity android:name=".t_subject_add"/>
        <activity android:name=".t_class_add"/>
        <activity android:name=".t_section_add"/>
        <activity android:name=".s_Attendance_Activity"/>
        <activity android:name=".s_EditProfileActivity"/>
        <activity android:name=".t_Detailed_Announcement"/>

    </application>
</manifest>

